<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appcursos">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pen_round"
        android:supportsRtl="true"
        android:theme="@style/barra"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".actividades.EditarPermisoActivity"
            android:label="@string/lb_editarPermiso"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.PermisosActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarUsuarioActivity"
            android:label="@string/lb_editarUsuario"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.UsuariosActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarRolActivity"
            android:label="@string/lb_editarRol"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.RolesActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarProfesorActivity"
            android:label="@string/lb_editarProfesor"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.ProfesoresActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarAlumnoActivity"
            android:label="@string/lb_editarAlumno"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.AlumnosActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarAsignaturaActivity"
            android:label="@string/lb_editarAsignatura"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.AsignaturasActivity" />
        </activity>
        <activity
            android:name=".actividades.EditarCursoActivity"
            android:label="@string/lb_editarCursor"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.CursosActivity" />
        </activity>
        <activity
            android:name=".actividades.AudiosActivity"
            android:label="@string/lb_audios"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.VideosActivity"
            android:label="@string/lb_videos"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.SplashToActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".actividades.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.NuevoPermisoActivity"
            android:label="@string/lb_nuevo_permiso"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.PermisosActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoRolActivity"
            android:label="@string/lb_nuevo_rol"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.RolesActivity" />
        </activity>
        <activity
            android:name=".actividades.PermisosActivity"
            android:label="@string/lb_permisos"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.RolesActivity"
            android:label="@string/lb_roles"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.UsuariosActivity"
            android:label="@string/lb_usuarios"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.ProfesoresActivity"
            android:label="@string/lb_profesores"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.AsignaturasActivity"
            android:label="@string/lb_asignaturas"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.AlumnosActivity"
            android:label="@string/lb_alumnos"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.CursosActivity"
            android:label="@string/lb_cursos"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MenuActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoUsuarioActivity"
            android:label="@string/lb_nuevo_usuario"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.UsuariosActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoProfesorActivity"
            android:label="@string/lb_nuevo_profesor"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.ProfesoresActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoAlumnoActivity"
            android:label="@string/lb_nuevo_alumno"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.AlumnosActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoAsignaturaActivity"
            android:label="@string/lb_nuevo_asignatura"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.AsignaturasActivity" />
        </activity>
        <activity
            android:name=".actividades.NuevoCursoActivity"
            android:label="@string/lb_nuevo_curso"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.CursosActivity" />
        </activity>
        <activity
            android:name=".actividades.MenuActivity"
            android:label="@string/lb_menu"
            android:screenOrientation="portrait" />
        <!--
<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MainActivity" />
        </activity>
        -->
        <activity
            android:name=".actividades.RegistrarseActivity"
            android:label="@string/lb_registrarse"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appcursos.actividades.MainActivity" />
        </activity>
        <activity android:name=".actividades.MainActivity" />
    </application>

</manifest>